
body {
  font-family: "Times New Roman";
  margin: 0;
}

.header {
  color: black;
  font-size: 40px;
  background-color: #AAFF00;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageinfo {
  height: 72px; 
}